@import "tailwindcss";

.yellow{
    --text-color: #faa500;
}

.blue{
    --text-color: #51a2ff;
}

:root {
    --background: #404040;
    --foreground: #ffffff;
    font-size: 14px;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-ibm-plex-sans);
    --font-mono: var(--font-ibm-plex-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #101010;
        --foreground: #ffffff;
    }
}

form > small{
    color: grey;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "IBM Plex Mono";
}

.link > a{
    text-decoration: underline;
    color: var(--text-color);
}

.divider{
    width: 1px;
    background-color: grey;
    height: 14px;
    margin: 0px 8px;
}
